<?xml version="1.0"?>
<robot name="engineer" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- 由张荣开创建 -->
    <!-- 存放小车tf坐标 -->


    <!-- ########################### 一、全局参数定义区 ########################### -->
    <xacro:property name="base_height" value="0.2" />      <!-- 底盘（的垂直高度（单位：米）-->
    <xacro:property name="base_length" value="0.5" />     <!-- 底盘的长度（单位：米）-->
    <xacro:property name="base_width" value="0.5" />      <!-- 底盘的宽度（单位：米）-->
    <xacro:property name="base_footprint_height" value="0.1" />  <!-- base_footprint（地面参考点）到base_link（底盘）的垂直距离（z轴偏移） -->
    <xacro:property name="livox_height" value="0.2" />   <!-- mid360_imu_link的安装高度 -->

    <xacro:macro name="material" params="name rgba">
        <material name="${name}">
            <color rgba="${rgba}" /> 
        </material>
    </xacro:macro>

    <xacro:material name="iron" rgba="0.8 0.8 0.8 0.8" />        <!-- 材料名：iron（金属灰） -->
    <xacro:material name="black" rgba="0.0 0.0 0.0 0.8" />       <!-- 材料名：black（纯黑） -->
    <xacro:material name="trans_black" rgba="0.0 0.0 0.0 0.5" /> <!-- 材料名：trans_black（半透黑）-->

    <xacro:macro name="fixed_joint" params="name parent child xyz rpy">
        <joint name="${name}" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}"/>  
            <parent link="${parent}"/>           
            <child link="${child}"/>             
        </joint>
    </xacro:macro>


    <link name="base_footprint" />

    <link name="base_link">
        <visual>  
            <origin xyz="0 0 0.0" rpy="0 0 0" />  
            <geometry>  
                <box size="${base_length} ${base_width} ${base_height}" />  
            </geometry>
            <material name="iron" /> 
        </visual>
    </link>

    <link name="livox_frame">
        <visual>  
            <origin xyz="0 0 0" rpy="0 0 0" />  
            <geometry>
                <cylinder length="0.02" radius="0.02" /> 
            </geometry>
            <material name="trans_black" />  
        </visual>
    </link>

    <xacro:fixed_joint 
        name="base_joint"               
        parent="base_footprint"         
        child="base_link"               
        xyz="0.0 0.0 ${base_footprint_height}"  
        rpy="0 0 0"                    
    />

    <xacro:fixed_joint 
        name="lasr_joint"              
        parent="base_link"              
        child="livox_frame"            
        xyz="0 0 ${livox_height}"       
        rpy="0 0 0"                    
    />

</robot>
